@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#fffdf1] text-[#5c5c5c] font-NotoSerif
  }

  h1 {
    @apply hover:text-[#5c5c5c7e] hover:cursor-pointer font-extrabold text-4xl tracking-wider lg:text-6xl
  }

  h2 {
    @apply px-2 py-6 text-[#000000e3] font-extrabold text-justify tracking-wider 
      text-2xl leading-9
      lg:leading-8 lg:p-4
  }

  h3 {
    @apply text-xl tracking-widest lg:text-2xl
  }

  div {
    @apply border-[#5c5c5c] text-lg leading-9 lg:text-lg
  }

  p {
    @apply p-2 text-[#5c5c5c] text-justify tracking-wide text-xl leading-9
      lg:text-xl lg:leading-8 lg:p-4
  }

  button {
    @apply border-[#5c5c5c] hover:bg-[#5c5c5c] hover:text-[#fffdf1] border-[1px] font-extralight py-1 px-4 
      lg:text-lg lg:py-2 lg:px-8
  }

  li {
    @apply text-3xl m-16 hover:cursor-pointer text-[#fffef8] hover:text-[#5c5c5c] 
      lg:text-xl lg:m-0 lg:mx-3 lg:text-[#5c5c5c] lg:hover:text-[#fffdf1]
  }

  span {
    @apply text-3xl tracking-widest
  }
}
